body{
    color: black;
    min-width: 50%;
    margin: 10px 0px;
    font-size: 14px;
    text-align: center;
}
img{
    width: 32vh;
    margin:16px auto ;
}

#simply{ 
    display: flex;
    flex-direction: column;
}

.primo{
    style="background-color:#ffffea ; 
    margin: 0PX; 
    padding: 20PX;"
}
#contenuto {
    text-align: center;
    margin:60px 300px 0px 300px;
    
}
#sotto-img{
    background-color: white;
}
h2 {
    font-size: 25px;
    text-align: left;
    margin: 10px;
}
ul,ol{
    text-align: left;
    font-size: 18px;
}
li {
    margin: 10px;
}
#fondo{
    text-align: left;
    font-size: 18px;
    margin: 10px 0px 10px 30px;
}